@charset "utf-8";
/* CSS Document */
body {
background-color: ghostwhite
}
h2{
	color:whitesmoke;
	text-decoration: wavy 5px blue;

}
img {
	width:356px;
	border:15px dotted blue;
	border-radius:50%
}
img:hover {
	border: 25px dashed black
}
